* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #efeae3;
}

nav {
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part h4 {
    padding: 10px 20px;
    border: 1px solid #000000bb;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
}

#nav-part h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
    transition: all ease 0.3s;
}

#nav-part h4 a:hover {
    color: white;
}

#nav-part h4::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;
}

#nav-part h4:hover::after {
    bottom: 0;
}

#center {
    height: 65vh;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #000000bb;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shap {
    position: absolute;
    height: 65vh;
    width: 36vw;
    background-color: #fe330a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 20px;
    top: 30%;
    filter: blur(20px);
}

#hero-1 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 0;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-2 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 0;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 10;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animie1 {
    from {
        transform: translateY(25%, -3%);
    }

    to {
        transform: translateY(0%, 10%);
    }
}

#page2 {
    min-height: 30vh;
    width: 100%;
    padding-top: 5vw;
}

#moving-text {
    white-space: nowrap;
    overflow: hidden;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    display: inline-block;
    background-color: #fe330a;
    border-radius: 50%;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 95%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-bottom h1 {
    font-size: 3vw;
    width: 50%;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 100;
}