* {
    padding: 0px;
    margin: 0px;
}

#main {
    background-color: #efeae3;
    z-index: 10;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #efeae3;
}

nav {
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part {
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav h3 {
    display: none;
}

#nav-part h4 {
    padding: 10px 20px;
    border: 1px solid #000000bb;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
}

#nav-part h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
    transition: all ease 0.3s;
}

#nav-part h4 a:hover {
    color: white;
}

#nav-part h4::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;
}

#nav-part h4:hover::after {
    bottom: 0;
}

#center {
    height: 65vh;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #000000bb;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shap {
    position: absolute;
    height: 65vh;
    width: 36vw;
    background-color: #fe330a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 20px;
    top: 30%;
    filter: blur(20px);
}

#hero-1 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 0;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-2 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 0;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3 {
    position: absolute;
    height: 50vh;
    width: 25vw;
    background-color: #fe330a;
    border-radius: 50%;
    right: 10;
    filter: blur(20px);
    animation-name: animie1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animie1 {
    from {
        transform: translateY(25%, -3%);
    }

    to {
        transform: translateY(0%, 10%);
    }
}

#page2 {
    min-height: 30vh;
    width: 100%;
    background-color: #efeae3;
    padding-top: 5vw;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow: hidden;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    display: inline-block;
    background-color: #fe330a;
    border-radius: 50%;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0vw 2vw 0vw 2vw;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    margin-bottom: 6vw;
}

#page2-bottom h1 {
    font-size: 3em;
    font-weight: 600;
    color: black;
    width: 55%;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 100;
    margin-top: 40px;
}

#page2-backgola {
    width: 35vw;
    height: 65vh;
    background: linear-gradient(to top, #fe330a, #fe530a);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    filter: blur(20px);
    animation-name: scdgola;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes scdgola {
    from {
        transform: translate(10%, -10%)skew(0);
    }

    to {
        transform: translate(-10%, 10%)skew(-12deg);
    }
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
}

.elem {
    position: relative;
    height: 130px;
    width: 100;
    /* background-color: orange; */
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 0vw 2vw;
    border-top: 1px solid #00000037;
    border-bottom: 1px solid #00000037;
}

.elem #overlay {
    background-color: orange;
    width: 100%;
    height: 130px;
    left: 0;
    position: absolute;
    top: -130px;
    transition: all ease 0.2s;
}

.elem:hover #overlay {
    top: 0px;
}

.elem h2 {
    font-size: 3vw;
    z-index: 2;
}

#fixed-img {
    height: 65vh;
    width: 25vw;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 222;
    display: none;
    background-size: cover;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #efeae3;
    margin-top: 320px;
}

.swiper {
    width: 100%;
    height: 70%;
    padding: 2vw 0vw;
}

.swiper-slide {
    font-size: 18px;
    border-left: 1px solid #302d2d;
    width: 25%;
    padding: 0px 10px;
}

#page5 {
    height: 100vh;
    width: 100%;
}

#footer {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#footer h1 {
    font-size: 18vw;
}

#footer-div {
    height: 35vh;
    width: 90%;
    background-color: #fe330a;
    filter: blur(25px);
    border-radius: 20%;
    animation-name: footerdiv;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes footerdiv {
    from {
        transform: translateY(5%) skew(0deg);
    }

    to {
        transform: translateY(-5%) skew(-25deg);
    }
}

#footer-div1 {
    width: 35vw;
    height: 65vh;
    background: linear-gradient(to top, #fe330a, #fe530a);
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    animation-name: footer-div1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes footer-div1 {
    from {
        transform: translate(1%, -1%)skew(0);
    }

    to {
        transform: translate(-1%, 1%)skew(-12deg);
    }
}

#footer-div2 {
    width: 35vw;
    height: 65vh;
    background: linear-gradient(to top, #fe330a, #fe530a);
    border-radius: 50%;
    position: absolute;
    right: 0%;
    filter: blur(20px);
    animation-name: footer-div2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes footer-div2 {
    from {
        transform: translate(10%, -10%)skew(0);
    }

    to {
        transform: translate(-10%, 10%)skew(-12deg);
    }
}

#footer-div3 {
    width: 35vw;
    height: 65vh;
    background: linear-gradient(to top, #fe330a, #fe530a);
    border-radius: 50%;
    position: absolute;
    right: 25%;
    filter: blur(20px);
    animation-name: footer-div2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes footer-div3 {
    from {
        transform: translate(1%, -1%)skew(0);
    }

    to {
        transform: translate(-1%, 1%)skew(-1deg);
    }
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#fullscr {
    display: none;
}

/* Loader to be */
#loader {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all linear 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}

#loader h1 {
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    animation-name: load;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    opacity: 0;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Media query Part */
@media (max-width: 600px) {
    #page1 {
        background-color: #efeae3;
    }

    nav {
        height: 100px;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav img {
        height: 8vh;
    }

    #nav-part {
        display: none;
    }

    nav h3 {
        display: block;
        font-size: 5vw;
        font-weight: 500;
        padding: 2vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        padding-left: 10vw;
        z-index: 100;
    }

    #fullscr {
        width: 100%;
        height: 100vh;
        background-color: #00000048;
        position: fixed;
        top: -100%;
        transition: all ease 0.5s;
        z-index: 99;
    }

    .fullscr-div {
        background-color: #efeae3;
        height: 55%;
        width: 100%;
        transition: all ease 0.5s;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .fullscr-div h4 {
        padding: 8px 0px;
        font-weight: 600;
        text-align: right;
        margin-right: 50px;
    }

    .fullscr-div h4 a {
        text-decoration: none;
        font-size: 40px;
        color: black;
    }

    #page2-bottom {
        flex-direction: column;
        margin-top: 15vw;
        margin-bottom: 25vw;
    }

    #page2-bottom h1 {
        width: 80vw;
        text-align: center;
        font-size: 25px;
        color: black;
        margin: 10px 0px;
    }

    #bottom-part2 {
        width: 80%;
        align-items: flex-start;
    }

    #bottom-part2 p {
        font-weight: 100;
        margin-top: 10px;
        text-align: left;
    }

    #center {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    #left h3 {
        width: 95vw;
        font-size: 5vw;
        line-height: 5vw;
    }

    #right h1 {
        font-size: 15vw;
        line-height: 15vw;
    }

    #hero-shap {
        display: none;
    }

    #gola {
        height: 40px;
        width: 40px;
    }

    #page3 {
        margin-top: 40vw;
    }

    #footer {
        height: 50vh;
        width: 100%;
        background-color: black;
        color: white;
        bottom: 0px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    #footer-div {
        display: none;
    }

    #page4 {
        margin-top: 430px;
    }

}